.fondo {
    background-image: url('../img/home.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.chat_box {
    border-radius: 5px;
    width: 600px;
    height: 600px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.chat_chat {
    padding: 10px 20px;
}

.chat_header {
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.chat_container {
    padding: 10px;
}

.mensaje_asistente {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.opciones button {
    margin-right: 10px;
}

.button {
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    background: #3485d4;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: .4s;
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}