.auth {
    background-image: url('../img/home.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.formpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.titleform {
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

.inputform {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    height: 100%;
    width: 95%;
    border: 2px solid #DADCE0;
    padding-left: 15px;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    background: none;
    z-index: 1;
    color: white;
}

.labelform {
    position: absolute;
    top: 18px;
    left: 12px;
    color: #DADCE0;
    font-size: 15px;
    transition: 0.5s;
}

::placeholder {
    color: transparent;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.button {
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    background: #3485d4;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: .4s;
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.input:focus+.labelform {
    font-size: 14px;
    color: transparent;
}

.input:not(:placeholder-shown)+.labelform {
    font-size: 14px;
    display: none;
}

.input:focus {
    border: 2px solid #4254c0;
}

.errors {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 58, 58);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}