body,
html {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.HomePage {
    background-image: url('../img/home.jpg');
    background-size: cover;
    height: 100vh;
}

.header {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.logoimg {
    height: 50px;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav ul li:hover {
    background: #3485d4;
    border-radius: 30px;
    transition: .3s;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.buttoningresar {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    background: #3485d4;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    transition: .4s;
}

.buttoningresar:hover {
    transform: scale(1.2);
    cursor: pointer;
}