.container {
    width: 100%;
    height: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #287bff;
    border-left: 10px solid #287bff;
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background: white;
}

.navigation ul li:nth-child() {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navigation ul li:hover a {
    color: #287bff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 95px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .tittle {
    position: relative;
    display: block;
    padding: 10px 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

.chat_box {
    margin: auto;
    border-radius: 5px;
    width: 600px;
    height: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: #287bff;
}

.chat_chat {
    padding: 0px 40px;
    display: flex;
    align-items: center;
}

.chat_header {
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.contador {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-left: 180px;
}

.botimg {
    width: 80px;
    height: 80px;
}

.chat_container {
    padding: 0px 20px;
}

.mensaje_asistente {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.opciones {
    display: flex;
    justify-content: center;
}

.opciones button {
    margin: 20px 10px;
    width: 100px;
}

.button {
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    background: white;
    padding: 15px 20px;
    border-radius: 30px;
    color: #287bff;
    font-size: 15px;
    transition: .4s;
}

.button:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.chat_boxR {
    margin: auto;
    border-radius: 5px;
    width: 600px;
    height: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: #287bff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultadodiagnostico {
    margin: 0 50px;
    color: white;
}

.iniciosaludo {
    color: white;
}

.boxsaludo {
    border-radius: 5px;
    width: 700px;
    height: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: #287affa8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    flex-direction: column;
}

.boxsaludo h1 {
    margin: 30px;
}

.iniciotitulo {
    border-radius: 10px;
    background-color: #287affa8;
    width: 200px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.contenidodeinicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100vh;
    left: 310px;
    right: 0;
    min-height: 100vh;
    background-image: url('../img/inicio.jpg');
}

.contenidohistorial {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    position: absolute;
    min-width: 100vh;
    left: 310px;
    right: 0;
    min-height: 100vh;
}

.titulohistorial {
    background-color: #287bff;
    border-radius: 8px;
    padding: 5px 5px;
    color: white;
    display: flex;
    justify-content: center;
}

.contenidoresult {
    display: flex;
    position: absolute;
    min-width: 100vh;
    left: 310px;
    right: 0;
    min-height: 100vh;
    background-image: url('../img/diagnosticocomplete.jpg');
}

.contenidohealbot {
    display: flex;
    position: absolute;
    min-width: 100vh;
    left: 310px;
    right: 0;
    min-height: 100vh;
    background-image: url('../img/healbotnormal.jpg');
}

.contenidoprofesionales {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    position: absolute;
    min-width: 100vh;
    left: 310px;
    right: 0;
    min-height: 100vh;
}

.tituloprofesionales {
    background-color: #287bff;
    border-radius: 8px;
    padding: 5px 5px;
    color: white;
    display: flex;
    justify-content: center;
}

.profesionalesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profesionalCard {
    background-color: #287bff;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}