.container {
    display: flex;
    background-color: white;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #287bff;
    border-left: 10px solid #287bff;
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background: white;
}

.navigation ul li:nth-child() {
    margin-bottom: 40px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.navigation ul li:hover a {
    color: #287bff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 95px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .tittle {
    position: relative;
    display: block;
    padding: 10px 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

.contenido {
    position: fixed;
    top: 0px;
    left: 310px;
    width: 100%;
}

/* ESTILOS DE HEALBOT */

.chat_box {
    border-radius: 5px;
    width: 600px;
    height: 600px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background-color: #287bff;
}

.chat_chat {
    padding: 10px 20px;
}

.chat_header {
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.chat_container {
    padding: 10px;
}

.mensaje_asistente {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.opciones button {
    margin-right: 10px;
}

.button {
    text-decoration: none;
    font-family: sans-serif;
    border: none;
    background: #3485d4;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    transition: .4s;
}

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}