body {
    background: #B0C5FF;
}

.navbarhome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #89a8f0;
    padding: 5px 20px;
    color: white;
    border-bottom: 1px solid #5A8CF2;
    box-shadow: 0 15px 20px rgba(92, 99, 105, .2);
}

.title_logo {
    display: flex;
    align-items: center;
}

.titlehome {
    padding: 0px 15px;
    font-size: 40px;
    color: white;
}

.logonav {
    width: 60px;
    height: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    background-color: #5A8CF2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #4254c0;
    transform: scale(0.9);
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.sec {
    margin-bottom: 30px;
}

.tittleshome {
    color: white;
    font-size: 30px;
}

.infoshome {
    color: white;
    font-size: 20px;
}

.section_disorders {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    gap: 1rem;
}

.disorders {
    display: flex;
    flex-direction: column;
    background-color: #89a8f0;
    padding: 20px;
    width: 200px;
    height: 400px;
    border-radius: 10% 25%;
}
