.home {
    width: 100%;
}

.navbarhome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89a8f0;
    padding: 5px 20px;
    color: white;
}

.title_logo {
    display: flex;
    align-items: center;
}

.titlehome {
    padding: 0px 15px;
    font-size: 40px;
    color: white;
}

.logonav {
    width: 60px;
    height: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    background-color: #5A8CF2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #4254c0;
    transform: translateY(-4px);
}